@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
    var viewDataMessage = ViewData["Message"]; 

    var viewBagMessage = ViewBag.Message;

}

@*just show it when have a value*@
@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
<div class="alert alert-primary">
    @TempData["Message"]
</div>
}


@* 
<div class="alert alert-warning">
    @ViewData["message"]
</div>

<div class="alert alert-success">
    @ViewBag.Message
</div>
 *@

<h1>ALl Employees</h1>
<br />
<br />

<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Create New Employee</a>

<br />

<div class="row justify-content-center align-items-center mt-5">
    <form asp-action="Index" class="row col-8 offset-1">
        <div class="col-8">
            <input type="text" class="form-control" name="searchInp" id="searchInp" placeholder="Search By Name" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success"/>
        </div>
    </form>
</div>

@if(Model.Count()>0)
{
    <table class="table table-striped table-hover mt-4">
        <thead>
            <tr> 
                <th>@Html.DisplayNameFor(e=>e.Name)</th>
                <th>@Html.DisplayNameFor(e=>e.Age)</th>
                <th>@Html.DisplayNameFor(e=>e.Adress)</th>
                <th>@Html.DisplayNameFor(e=>e.Department)</th>
                <th>@Html.DisplayNameFor(e=>e.Salary)</th>
                <th>@Html.DisplayNameFor(e=>e.IsActive)</th>
                <th>@Html.DisplayNameFor(e=>e.Email)</th>
                <th>@Html.DisplayNameFor(e=>e.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(e=>e.HireDate)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach(var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@employee.Adress</td>
                    <td>@employee.Department?.Name</td>
                    <td>@Html.DisplayFor(M  => employee.Salary)</td>  @*$ 2000.00*@
                    <td>@Html.DisplayFor(M  => employee.IsActive)</td> 
                    <td>@Html.DisplayFor(M  => employee.Email)</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.HireDate</td>

                    @*Shared content (moved to Button Partial)*@
                    <!-- 
                    <td>
                        <a asp-controller="Employee" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-warning"> Details 📅</a>
                        @* /Employee/Details/10 *@
                    </td>
                    <td>
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-success"> Update 🖊️</a>
                    </td>
                    <td>
                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger"> Delete ❌</a>
                    </td>
                    -->
                    
                    <partial name="_ButtonPartial" model="@employee.Id">
                </tr>
            }
            
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>There are no Employees 😞</h3>
    </div>
}

